* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.all-sections {
  width: 1200px;
  margin: auto;
}

.header {
  width: min(1440px, 100%);
  border: 3px solid orange;
  overflow: hidden;
}

.image-wrapper > .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.icon-wrapper > .search-icon {
  width: 24px;
  height: 24px;
}

.img-wrapper-div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.figure-wrapper {
  width: 450px;
  height: 300px;
}

.png-wrap {
  width: 100px;
  height: 100px;
}

figure {
  font-size: small;
  text-align: right;
  width: 300px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid red;
}

#section-id,
.flex-box {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px 0 16px 0;
}

.navigation {
  width: 100%;
  padding-top: 1em;
}

.article-wrapper {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
}

.article-wrapper-flex {
  width: 70vw;
}

.box-wrapper {
  display: flex;
}

.state-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.races-watch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.polling-wrapper,
.truimp-ratchets-wrapper,
.election-wrap,
.electoral-wrapper {
  display: flex;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 16px 0;
  border: 1px solid red;
  padding: 16px;
}

.nav-bar,
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.menu-below {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

a {
  color: #000;
  text-decoration: none;
}

hr {
  color: #000;
}

.display-none {
  display: none;
}

ul,
.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid red;
}

li {
  list-style-type: none;
  border: 1px solid red;
}

#container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 1200px;
  border-top: 1px solid #474747;
  margin: auto;
  border: 1px solid red;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1200px;
  border-top: 1px solid #474747;
  margin: auto;
  border: 1px solid red;
}
.container-flex {
  display: flex;
  width: 1200px;
  border-top: 1px solid #474747;
  margin: auto;
  gap: var(--gap);
  border: 1px solid red;
}

.article-image {
  width: 300px;
  height: 300px;
}

.crisis-news-wrapper {
  width: 30vw;
}

video {
  width: 400px;
  height: 300px;
}

img {
  object-fit: contain;
  width: 300px;
  height: auto;
}

.img-wrap {
  width: 7rem;
}

/* .main-content {
  background-color: blue;
} */

/* .side-content {
  background-color: orange;
} */
:root {
  --gap: 1rem;
}
.grid-col-two {
  display: flex;
  gap: var(--gap);
}
hr {
  border: none;
  height: 1px;
  background-color: #cbcbcb;
  width: 100%;
}

.article-left-image {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
}
.next-section {
  margin-top: 2rem;
}

.more-news-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.athletic-featured-post {
  display: flex;
  gap: var(--gap);
}

#ul-display-flex-col,
.content {
  display: flex;
  flex-direction: column;
}

.flex-row-item-end {
  display: flex;
  flex-direction: column;
  width: 22vw;
}

.harris-trump-wrap .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jill-stein-wrapper,
.polling-average-wrapper {
  width: 22vw;
}

.election-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  text-align: left;
}

.footer-section-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#ul-li-wrapper {
  display: flex;
  gap: 1rem;
  height: 600px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main-section {
  width: 65vw;
}

.main-content {
  display: block;
}

.main-wrapper-content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}

.section-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 70vw;
}

.sub-content {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.crisis-news-wrapper {
  display: flex;
  flex-direction: column;
}

.group-trump-harris {
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: 1rem;
}

.harries-trump-wrapper {
  display: flex;
  flex-direction: column;
}
