* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

:root {
  --san-serif: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  --gap: 1rem;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}

ul,
.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header {
  width: min(1200px, 100%);
  margin: 0 auto;
  border-bottom: 6px solid black;
  border-style: double;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2rem;

  & .search-icon img {
    width: 24px;
  }
}

.middle-navbar {
  display: flex;
  justify-content: space-between;
}

.nav-bar,
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 350px;
  max-width: min(1200px, 100%);
  margin: 0 auto;
  overflow: hidden;
  gap: 0.5rem;
}

.article-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #d4d4d4;
  padding-block: 1rem;
}

.article {
  padding-block: 1rem;
  border-bottom: 1px solid #d4d4d4;
}

.article-sub-title {
  font-size: 12px;
  font-family: var(--san-serif);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.article-title-big,
.article-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

.article-title {
  font-size: 1rem;
}

.article-read-time {
  font-size: 12px;
  font-weight: 500;
  color: #7b7b7b;
  font-family: var(--san-serif);
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.crisis-nav {
  display: flex;
  gap: 1rem;
  font-family: var(--san-serif);
  font-weight: 600;
  padding-block: 1.5rem;
}

/* Side content styles */

.grid-col-two {
  display: flex;
  gap: var(--gap);
}

hr {
  border: none;
  height: 1px;
  background-color: #cbcbcb;
  width: 100%;
}

.article-left-image {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
}

.next-section {
  margin-top: 2rem;
}

.more-news-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.athletic-featured-post {
  display: flex;
  gap: var(--gap);
}

.side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  margin-top: 24px;
  border-left: 1px solid #e7e6e6;
}

/* footer styles */

/* .flex-span-wrapper > .span-img-wrap {
  width: 18px;
  height: auto;
} */
